.Navigation{
    margin-bottom: 20px;
    padding: 0 1px;
}
.Brand{
    color: white;
    font-size: 15px;
    margin-top: -10px 0;
    padding: 0 15px;
   
}
.Navlink{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
   
}
.Navlink:hover{
    color: wheat;
}
.active{
    text-shadow: 1px 1px gray;
    color: wheat;
}
/* .Nav{
    margin-top: -15px;
    color: white;
} */