.order{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px #8888;
    padding: 20px;
    margin-bottom: 10px;

}
.order2{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}